Ehole_path = C:\Ehole2.0-win\Ehold_v2.exe
ffuf_path = C:\ffuf_1.2.1_windows_amd64\ffuf.exe
ffuf_dict_path = C:\Zfre_scan\module\dict.txt
rad_path = C:\rad_windows_amd64.exe\rad_windows_amd64.exe
xray_path = C:\xray_windows_amd64.exe\xray_windows_amd64.exe
Zoomeye_file_path = dork.txt
zoomeye_http_result = zoomeye_http_result.txt